.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: #333;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: solid 1px #ddd;
}

.sidebar li:hover{
    background-color: #444;
}

.sidebar li img {
    width: 25px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 7px;
}

#messages {
    border: 1px solid;
    border-radius: 15px;
    position: fixed;
    bottom: -200px;
    left: 20px;
    right: 20px;
    height: 100px;
    background-color: #eee;
    padding: 20px;
    overflow: hidden;
    transition: bottom 0.5s;
}

#messages.visible {
    bottom: 10px;
}

#messages p{
    transition-duration: 0.5s;
}

#messages p.removed {
    margin-top: -46px;
    margin-bottom: 33px;
}