html{
    user-select: none;
}

::selection {
    background: transparent;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: #333;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: solid 1px #ddd;
    cursor: pointer;
}

.sidebar li:hover{
    background-color: #444;
}

.sidebar li img {
    width: 25px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 7px;
}

#messages {
    position: relative;
    border: 1px solid;
    border-radius: 15px;
    height: 100px;
    background-color: #eee;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
}

#messages p:last-of-type{
    bottom: 20px;
}

#messages p:nth-last-of-type(2), #messages p:last-of-type:only-of-type{
    bottom: 60px;
}

#messages p{
    bottom: 0px;
    display: inline-block;
    position: absolute;
    bottom: 200px;
    font-size: 19px;
    font-weight: 100;
    overflow: hidden;
}

@keyframes bounce{
    from{
        bottom: 20px;
    }

    to {
        bottom: 25px;
    }
}

#arrowbox {
    position: absolute;
    background: #000000;
    bottom: 20px;
    right: 30px;
    animation-name: bounce;
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

#arrowbox:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 10px;
    margin-left: -10px;
}

#namebox{
    position: absolute;
    bottom: 130px;
    left: 30px;
    z-index: 1;
    background-color: #eee;
    border: solid 1px;
    border-radius: 5px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 14px;
}

#messagebox{
    position: fixed;
    bottom: -200px;
    left: 20px;
    right: 20px;
    transition: bottom 0.5s;
}

#messagebox.visible {
    bottom: 10px;
}
